---
layout: default
answerrostag: "index"
---

<div class="home">

  <h1>A "Getting Started" Guide for Magni</h1>
  {% include youtube_index.html youtubeid="ni49uYq4cF4" title="Coffee Bot: Our final demo." %}

  {% include image_onrightoftext.html img="assets/magni1.jpg" width="225" %}

  <h2>Learning with Magni</h2>
  <ol>
    <li> Quick start - How to set up your robot
           Note: This will contain unboxing, plugging in batteries and switching it on. 
		   It would also contain links to our downloads section of our standard image. 
		   Clicking on this would unfurl three choices which are "I have a Magni" or 
		   "I have a Loki" or "I want to experiment in simulation"
	</li>
	<li> 
		<a href="https://ubiquityrobotics.github.io/learn.magni.com/logitech">How to drive with the optional logitech controller (AF has draft)</a>	
	</li>
	<li> How to make follow me work with a fiducial
          Note: This would contain a link to a PDF with a giant warning that 
		  says something along the lines of "This fiducial can cause the robot to move  - do not 
		  print out and wave in front of the robot unless A,B and C are true and you've done X, Y and Z"
	</li>	
	<li> 
		How to connect to your robot with your laptop   (AF Draft)
	       Note: This will have sections that say things like. Do you have a laptop with ubuntu running? 
		   If not connect to location A for instructions on using the virtual box and connect to 
		   location B for instructions on installing native linux.
	</li>
	<li> How to set up the robot on your network</li>
	<li> How to drive your robot using a keyboard with Teleop-twist (AF draft)</li>
	<li> How to get the robot to know its location using fiducial localization</li>
	<li> 
		<a class="page-link" href="https://ubiquityrobotics.github.io/learn.magni.com/robotcommander">How to control the robot using Robot Commander</a>
	</li>	  
	<li> 
		<a class="page-link" href="https://ubiquityrobotics.github.io/learn.magni.com/2015/02/01/2/">Learning more</a>
	</li>
	
----------

    <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
  </ol>
  
  
 <ul> Other Turtlebot Topics
    <li> Writing Your First Script</li>
    <li> Creating a Map</li>
    <li> Autonomous Driving</li>
    <li> Going Forward and Avoiding Obstacles with Code</li>
    <li> Going to a Specific Location on Your Map Using Code</li>
    <li> Monitor the Robot’s Battery Status</li>
    <li> Button Events</li>
    <li> What to Read Next</li>
  </ul>
 
</div>
