<script>

var rosvers = ["kinetic", "noetic"];
var allpages = [];

function set_ros_version(version) {   
    document.getElementById("button_"+version).checked = true;
    document.getElementById("distroslider").style.display = "block";

    for (i in rosvers) {
        let list = document.getElementsByClassName(rosvers[i]);  

        if (rosvers[i] == version) {
            for (let i = 0; i < list.length; i++) {
                list[i].style.display = "block";
            }
        } else {
            for (let i = 0; i < list.length; i++) {
                list[i].style.display = "none";
            }
        }
    }
}

function get_generic_href(){
    let url = window.location.href.split("#")[0];
    for (i in rosvers) {
        if(url.includes(rosvers[i])){
            return url.replace(rosvers[i],"ROSDISTRO");
        }
    }
    return null;
}

function redirect(version){
    let url = get_generic_href();
    if(url != null)
        location = url.replace("ROSDISTRO",version); 
}

window.onload = function() {

    //figure out what pages exist
    const regex = "\/[a-zA-Z0-9]*_.*";
    let list = document.getElementsByClassName("navbarentry");
    for (let i = 0; i < list.length; i++) {
        let found = list[i].innerHTML.match(regex);

        if(found == null)
            continue;

        found = found.toString().substring(1).split("\"")[0];
        allpages.push(found);
    }

    let currentpage = get_generic_href();
    if(currentpage != null){
        currentpage = currentpage.split("/")[3];
        for (i in rosvers) {

            if(window.location.href.includes(rosvers[i]))
                continue;

            let possible_redirect = currentpage.replace("ROSDISTRO",rosvers[i]);

            if(!allpages.includes(possible_redirect)){
                let button = document.getElementById("button_"+rosvers[i]);
                let buttonlabel = document.getElementById("button_"+rosvers[i]+"_label");

                button.disabled = true;
                button.style.opacity = "0.3"
                buttonlabel.style.opacity = "0.3"
            }
        }
    }

    //hide irrelevant ros versions in the navbar
    let url = window.location.href;
    for (i in rosvers) {
        if(url.includes(rosvers[i])){
            set_ros_version(rosvers[i]);
            return;
        }
    }

    set_ros_version("noetic");
    
};

</script>

{%- assign groups = "overview|magni silver (gen 5)|quick start|conveyorbot|ez-map" | split: "|" %}
{%- assign nav = site.pages | sort:"nav_order" %}

{%- for item in nav %}
        {%- if item.nav_exclude == true and item.name != "README.md" %}

            {%- if item.url != page.url %}
                <div class="{{ item.rosver }}">
                    <ul style="display: none">
                        <li class="toctree-l1 navbarentry">
                            <a class="reference internal" href="{{ item.url | absolute_url}}">{{ item.title }}</a>
                        </li>
                    </ul>
                </div>     

            {%- else %}

                <div class="{{ item.rosver }}">
                    {%- include toc.html html=content sanitize=true h_max=2 item_class="toctree-l%level%" title=item.title %}
                </div>

            {%- endif %}

    {%- endif %}
{%- endfor %}

{%- for group in groups %}
    <p class="caption"><b class="caption-text" style="color: #66C4FF">{{ group }}</b></p>

    {%- for nav_item in nav %}
        {%- if nav_item.group == group and nav_item.nav_exclude != true and nav_item.name != "README.md" %}
            <div class="{{ nav_item.rosver }}">

                {%- if nav_item.url == page.url %}
                    {%- include toc.html html=content sanitize=true h_max=2 item_class="toctree-l%level%" title=nav_item.title %}

                {%- else %}
                     <ul>
                        <li class="toctree-l1 navbarentry">
                            <a class="reference internal" href="{{ nav_item.url | absolute_url}}">{{ nav_item.title }}</a>
                        </li>
                    </ul>
                {%- endif %}

            </div>

        {%- endif %}
    {%- endfor %}

{%- endfor %}