<div class="rst-versions" role="note" aria-label="versions">
    <span class="rst-current-version" data-toggle="rst-current-version">
        {%- if site.repo_url %}
            <a href="{{ site.repo_url }}" class="fa fa-github" target="_blank" style="float: left; color: #fcfcfc"> GitHub</a>
        {%- endif %}

        <table>
            <tr >
                <th>
                    <b class="kinetic" onclick="set_ros_version('kinetic'); redirect('kinetic')" style="color: #66C4FF; display:inline">Kinetic</b>
                    <i class="noetic" onclick="set_ros_version('kinetic'); redirect('kinetic')" style="color: #A0A0A0; display:inline">Kinetic</i>
                </th>
                <th>
                    <span style="margin-left: 15px"></span>
                </th> 
                <th>
                    <b class="noetic" onclick="set_ros_version('noetic'); redirect('noetic')" style="color: #66C4FF; display:inline">Noetic</b>
                    <i class="kinetic" onclick="set_ros_version('noetic'); redirect('noetic')" style="color: #A0A0A0; display:inline">Noetic</i>
                </th>
            </tr>
        </table>

    </span>
</div>
